:root {
	// general layout
	--navbar-height: 70px;

	// main colors
	--main-hue: 222;
	--main-saturation: 18%;
	--value-base: 19%;
	--value-step: 3%;
	--background-color1: hsl(var(--main-hue), var(--main-saturation), var(--value-base));
	--background-color2: hsl(var(--main-hue), var(--main-saturation), calc(var(--value-base) - (1 * var(--value-step))));
	--background-color3: hsl(var(--main-hue), var(--main-saturation), calc(var(--value-base) - (2 * var(--value-step))));
	--background-color4: hsl(var(--main-hue), var(--main-saturation), calc(var(--value-base) - (3 * var(--value-step))));
	--highlight-color1: #C67F41;
	--navbar-color1: var(--background-color3);
	--navbar-color2: var(--background-color4);

	// input colors
	--config-panel-background: var(--background-color2);
	--input-background: var(--background-color3);
	--input-color: var(--text-color);
	--input-border-color: var(--background-color4);
	--input-hover-color: var(--input-border-color);
	--input-highlight-color: #387ad1;
	--input-options-color: var(--input-background);
	--input-options-hover-color: var(--input-hover-color);

	// text colors
	--text-color: #f7f7f8;

	// input border
	--input-border-style: solid;
	--input-border-size: 1px;
	--input-border-radius: 5px;

	// input layout
	--input-padding-tb: 6px;
	--input-padding-rl: 10px;
	--input-height: 40px;
	--input-transition-time: 0.5s;

	--dillerm-font-family: Work Sans, Verdana, Geneva, sans-serif;
	
	--input-font-family: var(--dillerm-font-family);
	--input-font-size: 14px; 
	
	--input-numerical-font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	--input-numerical-font-size: 12px;
}

// @import "themes/discord.scss";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");


/* this is so that I can make the actual css variables more specific */
$input-border-color: var(--input-border-color);
$input-border-style: var(--input-border-style);
$input-border-size: var(--input-border-size);
$input-border-radius: var(--input-border-radius);
$input-padding-rl: var(--input-padding-rl);
$input-padding-tb: var(--input-padding-tb);
$input-height: var(--input-height);
$input-background: var(--input-background);

$input-border: $input-border-size $input-border-style $input-border-color;
$input-padding: $input-padding-tb $input-padding-rl;
$input-line-height: calc(#{$input-height} - (#{$input-padding-tb} * 2) - (#{$input-border-size} * 2));

// A couple global settings we want
* {
	box-sizing: border-box;
}

body,
html {
	color: var(--text-color);
	background-color: var(--background-color1);
	margin: 0;
}

.dillerm-content {
	max-width: 550px;
	padding: 25px;
	margin: auto;
	font-size: 14px;

	h1 {
		text-align: center;
		// font-weight: 700;
	}

	> p,
	> .dillerm-card {
		margin: 24px 0px;
	}
}

@media only screen and (max-width: 650px) {
	.dillerm-content {
		width: 100%;
		max-width: none;
		padding-right: 15px;
		padding-left: 15px;
	}
}

.dillerm-card {
	background: var(--background-color2);
	border: 1px solid var(--background-color3);
	padding: 20px;
	border-radius: 8px;
	transition: box-shadow 0.5s;

	&:hover {
		box-shadow: 0px 0px 8px 0px var(--background-color3);
	}

	.dillerm-card-footer {
		color: grey;
		font-size: 12px;
		display: flex;

		> :last-child {
			flex-grow: 1;
			text-align: right;
		}
	}
}

// the main stuff
.dillerm {
	font-family: var(--dillerm-font-family);

	.invalid {
		box-shadow: 0 0 5px red inset;
	}

	a {
		color: rgb(88, 166, 255);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.dillerm-control {
	font-size: var(--input-font-size);

	input:focus {
		outline: none;
	}
	
	input {
		transition: background var(--input-transition-time);
	}
}

$tooltip-fade-amount: 15%;

.dillerm-tooltip {
	color: var(--input-color);
	border-radius: 3px;
	font-weight: bold;
	font-family: var(--input-numerical-font-family);
	font-size: 16px;

	visibility: hidden;
	opacity: 0;
	position: absolute;
	white-space: nowrap;
	padding: 8px 12px;
	transition: 0.3s all;

	@media (hover: hover) {
		:hover > & {
			opacity: 1;
			visibility: visible;
		}
	}

	/* position specific */
	&.right {
		right: 0px;
		top: 50%;
		transform: translate(calc(100% - $tooltip-fade-amount), -50%);
		:hover > & {
			transform: translate(100%, -50%);
		}
	}

	&.top {
		top: 0px;
		left: 50%;
		transform: translate(-50%, calc(-100% + $tooltip-fade-amount));
		:hover > & {
			transform: translate(-50%, -100%);
		}
	}

	&.left {
		left: 0px;
		top: 50%;
		transform: translate(calc(-100% + $tooltip-fade-amount), -50%);
		:hover > & {
			transform: translate(-100%, -50%);
		}
	}

	&.bottom {
		bottom: 0px;
		left: 50%;
		transform: translate(-50%, calc(100% - $tooltip-fade-amount));
		:hover > & {
			transform: translate(-50%, 100%);
		}
	}

	// Arrow-stuff
	// &::after {
	// 	content: " ";
	// 	position: absolute;
	// 	border-width: 5px;
	// 	border-style: solid;
	// }

	// /* position specific */
	// &::after {
	// 	top: 50%;
	// 	right: 100%;
	// 	border-color: transparent #222 transparent transparent;
	// 	margin-top: -5px;
	// }
}

